<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UserList</title>
</head>
<body>

{% extends "./index.html" %}
{% block title %}List of Users{% endblock %}
{% block content %}

    <div class="body">
        {% if userList %}
            <ul>
                {% for user in userList %}
                    <li>{{ user.name }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No user</p>
        {% endif %}

    </div>

{% endblock %}

</body>
</html>