<!DOCTYPE html>
{% extends "base/index.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}List of Users{% endblock %}</title>
</head>
<body>
{% block content %}
    <div class="body">
        {% if userList %}
            <ul>
                {% for user in userList %}
                    <li>{{ user.name }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No user</p>
        {% endif %}

    </div>

{% endblock %}

</body>
</html>