

/*header style*/
#header {
    font-family: 'Lobster';
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    background-color: #5e42a6;
    cursor: default;
    padding: 1.75em 2em;
}

#header > .logo {
    color: #FFFF00;
    border: 0;
    display: block;
    font-size: 1.25em;
    font-weight: bold;
}

#header > nav > ul > li > a{
    color: #FFFF00;
}

#header > nav {
    -moz-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: right;
}

#header > nav > ul {
    margin: 0;
    padding: 0;
}

#header > nav > ul > li:first-child {
    margin-left: 0;
}
#header > nav > ul > li {
    display: inline-block;
    margin-left: 1.75em;
    padding: 0;
    vertical-align: middle;
}


/*footer style*/
#footer {
    font-family: 'Lobster';
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    background-color: #5e42a6;
    cursor: default;
    padding: 1.75em 2em;
}

#footer ul > li > a{
    color: #FFFF00;
}

#footer {
    -moz-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: right;
}

#footer > ul {
    margin: 0;
    padding: 0;
}

#footer > ul > li:first-child {
    margin-left: 0;
}
#footer > ul > li {
    display: inline-block;
    margin-left: 1.75em;
    padding: 0;
    vertical-align: middle;
}










.wrapper {
    position: relative;
}

.wrapper.alt {
    background-color: #261c3e;
}
.wrapper {
    position: relative;
}



ul li {
    padding-left: 0.5em;
}

ul {
    list-style: disc;
    margin: 0 0 2em 0;
    padding-left: 1em;
}

/*.header{*/
    /*left: 0px;*/
    /*top: 0px;*/
    /*font-family: 'Lobster';*/
    /*background-color: #7109AA;*/
    /*height: 100px;*/
    /*width: 100%;*/
/*}*/

.footer{
    font-family: 'Lobster';
    background-color: #7109AA;
    height: 100px;
    width: auto;
}

.content{
    font-family: 'Lobster';
    background-color: #FFFF00;
    height: 100px;
    width: auto;
    position: relative;
}

.footer div{
    top: 15px;
    position: relative;
    display: inline-block;
    color: #FFFF00;
}

.contacts{
    left:15px ;
}

.FAQ{
    left:125px;
}

.rules{
    left: 325px;
}

.adverising{
    left: 475px;
}

/*.logo{*/
    /*position: absolute;*/
    /*top: 10px;*/
    /*left: 20px;*/
    /*color: #FFFF00;*/
/*}*/
/*.sign_up{*/
    /*position: absolute;*/
    /*top: 15px;*/
    /*right: 20px;*/
    /*color: #FFFF00;*/
/*}*/
/*.log_in{*/
    /*position: absolute;*/
    /*top: 15px;*/
    /*right: 120px;*/
    /*color: #FFFF00;*/
/*}*/